body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(29, 26, 26),rgb(77, 74, 74) );
    color:rgb(153, 158, 163);
}

main{
    padding-left:10%;
}
header{
    display: flex;
}

h1{
    color:rgb(153, 158, 163);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 3%;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    overflow: none;

}

li{
    text-decoration: none;
    list-style: none;
}
a:link{
    text-decoration: none;
    color: inherit;
    block-size: 100%;
    min-width: 25%;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

footer{
    background-color: rgb(29, 26, 26);;
    text-size-adjust: medium;
    color:rgb(202, 205, 207);
    margin-top: auto;
}

.NavButton{
    min-width: 100%;
    background-color:rgb(41, 37, 37);
    text-align:center;
    color:rgb(153, 158, 163);
    height: fit-content;
    padding:2px;

}

.NavButton:hover{
    width:105%;
    background-color:rgb(75, 68, 68);
    text-align: center;
    color:rgb(153, 158, 163);
    height: fit-content;
    padding:2px;

}

.NavButton:active{
    width:100%;
    background-color:rgb(121, 108, 108);
    text-align: center;
    color:rgb(153, 158, 163);
    height: fit-content;
    padding:2px;
}

.DropDown{
    width:25%;
    background-color:rgb(41, 37, 37);
    text-align:center;
    color:rgb(153, 158, 163);
    height: fit-content;
    padding:2px;
    position:relative;
}

.DropDown-content{
    display:none;
    position: absolute;
    z-index: 1;
    width: 100%;
    
}

.DropDown:hover .DropDown-content{
    display:block;

}
.DropButton{
    background-color:rgb(41, 37, 37);
    text-align: center;
    color:rgb(153, 158, 163);
    height: fit-content;
    padding: 2px;
    box-sizing:border-box;

}
.DropButton:hover{
    background-color:rgb(75, 68, 68);
    text-align: center;
    color:rgb(153, 158, 163);
    height: fit-content;
    padding: 2px;
    box-sizing:border-box;
}

.Linked{
    text-decoration: underline;
    color: inherit;
}